<h1>Stocks</h1>

<div *ngFor='let stock of stockList'>
<p>{{stock.name}}</p>
<p>{{stock.symbol}}</p>
<p>{{stock.current_price}}</p>
<p>{{stock.createdAt}}</p>
<button (click)='delStock(stock._id)'>delete</button>
<button [routerLink]="['/stocks', stock._id, 'edit']">edit</button>
</div>
<br/>

<form [formGroup]= 'newStockForm' (submit)='createNewStock()'>
    <div class='form-group'>
        <label name='name'>Stock name</label>
        <input type='text' class='form-control' formControlName='name' placeholder="Enter stock company name"/>
    </div>

    <div class='form-group'>
        <label name='symbol'>Symbol</label>
        <input type='text' class='form-control' formControlName='symbol' placeholder='Enter symbol'/>
    </div>

    <div class='form-group'>
        <label name='current_price'>Current Price</label>
        <input type='text' class='form-control' formControlName='current_price' placeholder='Enter stock price'/>
    </div>
    <button type='submit'> Create </button>
</form>




