<br/>
<button routerLink='/dashboard'> Go Back </button>
<br/> <br/>
<form [formGroup]='updateStockForm' (submit)='updateStock(id)'>
  <div class='form-group'>
    <label name='name'>Stock name</label>
    <input type='text' class='form-control' formControlName='name' placeholder="{{ previousFormDetails.name }}"/>
  </div>
  <div class='form-group'>
    <label name='symbol'>Symbol</label>
    <input type='text' class='form-control' formControlName='symbol' placeholder='{{ previousFormDetails.symbol }}'/>
  </div>
  <div class='form-group'>
    <label name='current_price'>Current Price</label>
    <input type='text' class='form-control' formControlName='current_price' placeholder='{{ previousFormDetails.current_price }}'/>
  </div>
  <button type='submit'> Update </button>
</form>
<button routerLink='/dashboard'> Cancel </button>


