body {
  background-image: url('../assets/img/background.png');
  background-repeat: no-repeat;
  background-size: cover;
}

html {
  min-height: 100%
}

.bg-header-primary {
  background-image: linear-gradient(#331566, #2F2C8A);
  color: white;
}