<br/><br/><br/><br/>
<div class='row'>
  <div class='col-sm-4'></div>
  <div class='col-sm-4 card shadow p-3 mb-5 bg-white rounded mt-4'>
    <h1 class='text-center bg-header-primary card-header'>Register</h1>
    <p class='text-center bg-header-primary card-header'>Already have an account?
      <a routerLink='/login'>Sign in now.</a>
    </p>
    <br/>
    <form [formGroup] = 'registerForm' (submit)='register()'>
  <div class="form-group">
    <label for="name">Full name</label>
    <input type="text" class="form-control" formControlName='name' placeholder="Enter your name"/>
  </div>

  <div class="form-group">
    <label for="email">Email</label>
    <input type="email" class="form-control" formControlName="email" placeholder="Enter your email"/>
  </div>

  <div class="form-group">
    <label for="name">Password</label>
    <input type="password" class="form-control" formControlName="password" placeholder="Password"/>
  </div>

  <button type="submit" class="btn bg-header-primary">Register!</button>

    <br/><br/>
    </form>
  </div>
  <div class='col-sm-4'></div>
</div>