<mat-toolbar class='darkNavMode'>
  <img src='../../assets/img/logo.png' class='logo'/>
  <h5 routerLink='/' class='ml-2'>Lazy Stock</h5>
  <span class="fill-space"></span>
  <span *ngIf='auth.isLoggedIn()'>
     <h5>{{ currentDate | date:'EEEE, MMMM d' }} </h5>
  </span>
  <span class="fill-space"></span>
  <span *ngIf='!auth.isLoggedIn()'>
    <button mat-icon-button routerLink='/login'> <mat-icon>account_circle</mat-icon> SignIn </button>
  </span>
  <span *ngIf='auth.isLoggedIn()'>
    <!-- <button mat-button routerLink='/'> Hi, {{ auth.getUserDetails()?.name }} </button> -->
    <button mat-button (click)='auth.logout()'> Logout </button>
  </span>
  

  
</mat-toolbar>